CompileFlags:
  CompilationDatabase: .build

Diagnostics:
  UnusedIncludes: Strict
  # include-cleaner does not understand names supplied by imports from modules yet
  MissingIncludes: None

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true

Hover:
  ShowAKA: true

---
If:
  PathMatch: native/abi/native\.cpp
Diagnostics:
  # more clangd struggeling with modules
  UnusedIncludes: None
